.bg-header { 
   background-color: #1abc9c; /* Green */
   color: #ffffff;
}
.bg-footer { 
   background-color: #000000; /* Very dark gray */
   color: #ffffff;
}
.bg-body { 
   background-color: #e9fcf8; /* Very light gray */
   color: #000000;
}
.bg-results {
   background-color: #ffffff; /* Very dark gray */
   color: #8c8c8c;
   padding-top: 20px;
}
.fixed-panel {
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}
.body1 { /* News icon */
   padding-top: 50px;
   margin: auto;
}
.body2 { /* Search field */
   padding-top: 20px;
   padding-bottom: 270px;
   width: 350px;
   margin: auto;
}
.header {
   padding-top: 10px;
   padding-bottom: 10px;
}
.footer {
   padding-top: 30px;
   padding-bottom: 10px;
}
