html {
    position: relative;
    min-height: 100%;
}

body {
    color: #000000;
    background-color: #e9fcf8;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px;
    background-color: #272727;
    color: #ffffff;
}

.header {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

#error-bar {
    background-color: red;
    color: whitesmoke;
}

#search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

#results {
    padding: 10px 0 0;
}

.card {
    margin-bottom: 10px;
}

#user-info {
    background-color: white;
    border-top: thin solid #8c8c8c;
    border-bottom: thin solid #8c8c8c;
}

.card-img-top {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-title {
    color: #272727;
}

.card-text {
    color: #8c8c8c;
    font-size: small;
    line-height: normal;
}