html {
    position: relative;
    min-height: 100%;
}

body {
    color: #000000;
    background-color: #e9fcf8;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px;
    background-color: #272727;
    color: #ffffff;
}

.header {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

#error-bar {
    background-color: red;
    color: whitesmoke;
}

#search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

#results {
    padding: 10px 0 0;
}

#results .col:first-of-type {
    border-right: thin solid #1abc9c;
}

.card {
    margin-bottom: 10px;
}

#user-info {
    background-color: white;
    border-top: thin solid #8c8c8c;
    border-bottom: thin solid #8c8c8c;
}

.card-img-top {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-title {
    color: #272727;
}

.card-text {
    color: #8c8c8c;
    font-size: small;
    line-height: normal;
}

.img-container {
    position: relative;
}

.score-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: .5s ease;
    background-color: #4f4f4f;
}

.img-container:hover .score-overlay {
    opacity: 0.2;
}

.score-overlay .score-box {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: whitesmoke;
    padding: 3px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}